PANEL_PORT=8080
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
PANEL_SECRET_KEY=change-this-random-key
PUBLIC_HOST=YOUR_SERVER_IP
PROXY_PORT=8443
MTPROXY_IMAGE=delta-proxy-panel-mtproxy:latest
COMPOSE_PROJECT_NAME=mtproto-panel
