<!doctype html><html lang="fa" dir="rtl"><head>
<meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
<title>Delta Panel Login</title><link rel="stylesheet" href="/static/style.css"></head>
<body class="login-body"><form class="login-card" method="post" action="/login">
<h1>Delta MTProto</h1><p>ورود به پنل مدیریت</p>
<input name="username" placeholder="نام کاربری" required>
<input name="password" placeholder="رمز عبور" type="password" required>
<button>ورود</button></form></body></html>